body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    margin-bottom: 20px;
}

main {
    flex: 1 0 auto;
}

.caption {
    font-size: smaller;
    margin-top: 0;
}

.highlight, .highlighttable {
    line-height: 1.1em;
}
