html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.mdl-thomomys .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}

.mdl-thomomys section.section--center {
  max-width: 860px;
}

.pagination {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mdl-thomomys .mdl-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}

.mdl-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  margin-right: 32px;
}

.page {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mdl-thomomys .mdl-card {
  height: auto;
  display: flex;
  flex-direction: column;
}

.mdl-thomomys .mdl-card > * {
  height: auto;
}

.mdl-thomomys .mdl-card {
  height: auto;
  display: flex;
  flex-direction: column;
}

.mdl-thomomys .mdl-card div.section h1 {
  font-size: 20x;
  font-weight: bold;
}

.mdl-thomomys .mdl-card div.section h2 {
  font-size: 18px;
  font-weight: bold;
}

.mdl-thomomys .mdl-card div.section h3 {
  font-size: 16px;
  font-weight: bold;
}

.mdl-thomomys .mdl-card div.section h4 {
  font-size: 14px;
  font-weight: bold;
}

.mdl-thomomys .mdl-card .mdl-card__title a,
.mdl-thomomys .mdl-card .mdl-card__title a:link,
.mdl-thomomys .mdl-card .mdl-card__title a:visited,
.mdl-thomomys .mdl-card .mdl-card__title a:hover,
.mdl-thomomys .mdl-card .mdl-card__title a:active {
  color: black;
  text-decoration: none;
}

.mdl-thomomys .mdl-card .mdl-card__supporting-text {
  margin-left: 20px;
  margin-right: 20px;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}

.mdl-thomomys .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}

.mdl-thomomys .mdl-card__actions a {
  color: #00BCD4;
  margin: 0;
}

.mdl-thomomys .mdl-card__actions a:hover,
.mdl-thomomys .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}

.mdl-thomomys .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mdl-thomomys .mdl-card__actions button {
  margin: 10px;
}
