{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content %}

<section class="mdl-grid section--center">
  <div class="mdl-cell mdl-cell--12-col">
    <h2>Archives</h2>
  </div>
  <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
    <tbody>
      {% for article in dates %}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <a class="collection-item truncate" href="{{SITEURL}}/{{ article.url }}">
            {{article.title|truncate(50)}}
          </a>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          {{article.locale_date}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% endblock %}
