{% extends "base.html" %}
{% block head %}
{{ super() }}
{% for keyword in article.keywords %}
<meta name="keywords" contents="{{keyword}}" />
{% endfor %}

{% for description in article.description %}
<meta name="description" contents="{{description}}" />
{% endfor %}

{% for tag in article.tags %}
<meta name="tags" contents="{{tag}}" />
{% endfor %}
{% endblock %}

{% block title %}{{ SITENAME }} - {{article.title}}{% endblock %}

{% block content %}

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">

        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                {{ article.title }}
            </h2>
        </div>
        <div class="mdl-card__supporting-text">

            <p class="mdl-typography--body-1">
                Published:
                <time datetime="{{article.date.strftime('%Y-%m-%d')}}" itemprop="dateCreated" class="mdl-typography--body-2">
                    {{article.locale_date}}
                </time>
                {% if article.modified %}
                <br />
                Modified:
                <time datetime="{{article.modified.strftime('%Y-%m-%d')}}" itemprop="dateModified" class="mdl-typography--body-2">
                    {{article.locale_modified}}
                </time>
                {% endif %}
            </p>

            {{ article.content }}
        </div>

        <div class="mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
                data-href="{{SITEURL}}/{{article.category.url}}">
                <i class="material-icons">folder_open</i> {{article.category}}
            </button>

            {% for tag in article.tags %}
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                data-href="{{SITEURL}}/{{tag.url}}">
                <i class="material-icons">label_outline</i> {{tag}}
            </button>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}
