<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    {% block head %}
    <meta name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>
        {% block title %}{{ SITENAME }} - {{SITESUBTITLE}}{% endblock title %}
    </title>
    <meta charset="utf-8" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"
            type="application/atom+xml"
            rel="alternate"
            title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"
            type="application/rss+xml"
            rel="alternate"
            title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}"
            type="application/atom+xml"
            rel="alternate"
            title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}"
            type="application/rss+xml"
            rel="alternate"
            title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}"
            type="application/atom+xml"
            rel="alternate"
            title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}"
            type="application/rss+xml"
            rel="alternate"
            title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}"
            type="application/atom+xml"
            rel="alternate"
            title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}"
            type="application/rss+xml"
            rel="alternate"
            title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}

    <link rel="stylesheet"
            href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/material.min.css" />
    {% endblock head %}

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->

    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/material-icons.css" />

    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/thomomys.css" />

</head>

<body class="mdl-thomomys mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <a class="mdl-layout-title mdl-navigation__link" href="{{ SITEURL }}/">
                    {{SITENAME}}
                </a>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">

                    {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in pages %}
                    <a class="mdl-navigation__link" href="{{ SITEURL }}/{{ p.url }}">
                        {{ p.menulabel|default(p.title) }}
                    </a>
                    {% endfor %}
                    {% endif %}

                    <a class="mdl-navigation__link" href="{{SITEURL}}/archives.html">
                        Archives
                    </a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">{{SITENAME}}</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ SITEURL }}/"><i class="material-icons" role="presentation">home</i>Home</a>
                {% for cat, null in categories %}
                <a class="mdl-navigation__link" href="{{ SITEURL }}/{{ cat.url }}">
                    <i class="material-icons">folder</i>{{ cat }}
                </a>
                {% endfor %}
            </nav>
        </div>
        <main class="mdl-layout__content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    {% block body_end %}
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/material.min.js"></script>
    {% endblock body_end %}
</body>

</html>
