{% extends "base.html" %}
{% block head %}
{{ super() }}
{% for keyword in page.keywords %}
<meta name="keywords" contents="{{keyword}}" />
{% endfor %}

{% for description in page.description %}
<meta name="description" contents="{{description}}" />
{% endfor %}

{% for tag in page.tags %}
<meta name="tags" contents="{{tag}}" />
{% endfor %}
{% endblock %}

{% block title %}{{ SITENAME }} - {{page.title}}{% endblock %}

{% block content %}

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp page">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                {{ page.title }}
            </h2>
        </div>
        <div class="mdl-card__supporting-text">
            {{ page.content }}
        </div>

        <div class="mdl-card__actions">
            Published:
            <time datetime="{{page.date.strftime('%Y-%m-%d')}}" itemprop="dateCreated">
                {{page.locale_date}}
            </time>
            {% if page.modified %}
            Modified:
            <time datetime="{{page.modified.strftime('%Y-%m-%d')}}" itemprop="dateModified">
                {{page.locale_modified}}
            </time>
            {% endif %}

        </div>
    </div>
</section>

{% endblock %}
